<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="fr.hyperfiction.hypmedias" >

	 <application>
		<!-- HypMedias -->
			<activity
			    android:name="fr.hyperfiction.hypmedias.HypVideoActivity"
			    android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			    android:label="HypMedias"
			    android:screenOrientation="landscape"
			></activity>
	 </application>

</manifest>